@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,400;0,700;1,700&display=swap');

// $bg-grey: #e4e8f0;
$red: #ff3826;
$blue: #82d1ff;



// $body-background-color: $bg-grey;
$family-sans-serif: "Work Sans", sans-serif;
$primary: $red;
$link: $blue;



@import "../node_modules/bulma/bulma.sass";